<nav class="navbar navbar-expand-lg dta" data-bs-theme="dark">
    <div class="container-fluid" id="cont">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="https://github.com/Palharess">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{url_for('skills')}}">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{url_for('contact')}}">Contact</a>
            </li>
        </ul>
    </div>
    



</nav>