{%include "header.html"%}
<body>
    
{%block content%} 
<div class="container">
    <h1>Gabriel's Site</h1>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 disc">
        <p>Hello!! My name is Gabriel Palhares Siqueira, I'm a student of Computer Science at Universidade Federal de Goiás (UFG). I'm completely focused on my studies in programming, mostly on personal projects and university tasks.  </p>
        <p>I'm constantly trying to improve and develop a wide range of skills both in Front-End and Back-end. I have created some projects in Python and in C and I also have experience in some frameworks.</p>
        <img src="../static/img/bora.png" alt="" class="round">
        </div>
    </div>
    <div class="row" style="text-align: center;">
        <div class="col-lg-12 col-md-12 col-sm-12" id="social">
            <button class="btn social isso"><i class="fa-solid fa-envelope"></i></button>
            <a href="https://www.linkedin.com/in/gabriel-palhares-93b67b271/"><button class="btn social"><i class="fa-brands fa-linkedin"></i></button></a>
            <a href="https://www.instagram.com/gabriel_palhares23/"><button class="btn social"><i class="fa-brands fa-instagram"></i></button></a>
            
        </div>
    </div>
</div>

<hr>

{%endblock%}
{% include "footer.html" %}
</body>